html{


}

body {
	margin:0;
	font-family: Tahoma, Verdana, Segoe, sans-serif;	
	overflow-x: hidden;
}

p,li, ul,  i{
	font-size:1vw;
}

h1{ 
	font-size: 1.75vw;
}

h2{
	font-size: 1.25vw;
}
.main {
	padding: 5%;
}

.header{
	background:#9e1b32;
	display:inline-block;
	float:top;
	padding:5%;
	margin:0;
	color:white;
	width:96vw;
}

@media screen and (max-width:750px){

	 html{
     		 width: 100vw;
	     	 overflow-x: hidden;
   	 }
	.header{
		text-align:center;
		padding:3%;
	}
	.main{
		padding:5%;
	}

	p, ul, li{
        	font-size:3.5vw;
	}

	i{
		font-size:2.5vw;
	}

	img{	
		min-width:100%
	}
	h1{ 
        	font-size: 6vw;
	}
	h2{
        	font-size: 5vw;
	}	
	.tooltip .tooltiptext {
		width:5%;
		font-size:1.6vw;
	}
	
	.desktop{
		display:none;
	}
}	

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size:10pt;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 0px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media screen and (min-width: 750px){
	.mobile{
		display: none;
	}
}
