html{


}

body {
	margin:0;
	font-family: Tahoma, Verdana, Segoe, sans-serif;	
	overflow-x: hidden;
}

.main {
	padding: 5%;
}



@media screen and (max-width:750px){

	 html{
     		 width: 100vw;
	     	 overflow-x: hidden;
   	 }
	.header{
		text-align:center;
		padding:3%;
	}
	.main{
		padding:5%;
	}




	img{	
		min-width:100%
	}
	
	
	.desktop{
		display:none;
	}
}	

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


